@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1.12vw;
}

@media screen and (max-width: 639px) {
  html {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: inherit;
  }
}

body {
  overscroll-behavior: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

.bullet {
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.11rem;
  opacity: 0.5;
  cursor: pointer;
}

.bullet-active {
  opacity: 1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.padding-global {
  @apply px-6 sm:px-14;
}

.padding-global-2 {
  @apply px-2 sm:px-8;
}

.rich-text {
  @apply flex flex-col gap-4 text-sm leading-tight sm:text-base [&>h2]:font-black [&>h2]:text-2xl sm:[&>h2]:text-[2rem] [&>h3]:font-black [&>h3]:text-lg sm:[&>h3]:text-xl;
}

.str-line {
  transform: translateY(120%);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: calc(var(--str-line-index) * 0.1s);
}

/* .line [data-animated='true'] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */
